<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topband.bluetooth.mapper.BuildingMapper">
  <!--  查询条件 -->
  <select id="listWhere"   resultType="Building" >
    SELECT id,name,parent_id as parentId,create_by as createBy,update_by as updateBy,create_time as createTime,update_time as updateTime,del_flag as delFlag FROM d_building
    <if test="ew.sqlSegment!=null">
      where ${ew.sqlSegment}
    </if>
  </select>
</mapper>

